@mixin font($font)
{
	body,
	button,
	select,
	textarea,
	input,
	.btn {
		font-family: $font;
	}
}
@mixin clearfix()
{
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin color-light($color, $light: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) + $light;

	color: hsl($h,$s,$l);
}
@mixin background-color-light($color, $light: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) + $light;

	background-color: hsl($h,$s,$l);
}
@mixin border-color-light($color, $light: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) + $light;

	border-color: hsl($h,$s,$l);
}
@mixin color-dark($color, $dark: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) - $dark;

	color: hsl($h,$s,$l);
}
@mixin background-color-dark($color, $dark: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) - $dark;

	background-color: hsl($h,$s,$l);
}
@mixin border-color-dark($color, $dark: 5)
{

	$h: hue($color);
	$s: saturation($color);
	$l: lightness($color) - $dark;

	border-color: hsl($h,$s,$l);
}

@mixin box-sizing($box-model)
{
	box-sizing: $box-model;
}
@mixin vertical-align()
{
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin gradient-vertical($start: #555, $end: #333)
{
	background-color: mix($start, $end, 60%);
	background-image: linear-gradient(top, $start, $end);
}
@mixin gradient-horizontal($color1: #555, $color2: #333)
{
    background: $color1;
    background: linear-gradient(left,  $color1 0%,$color2 100%);
}
@mixin gradient-vertical-to-opacity($color, $start-opacity: 1)
{

	$rgba-start: rgba(red($color), green($color), blue($color), 0);
	$rgba-end: rgba(red($color), green($color), blue($color), $start-opacity);

	background: linear-gradient(to bottom,  $rgba-start 0%, $rgba-end 100%);
}
@mixin gradient-horizontal-to-opacity($color, $start-opacity: 1)
{

	$rgba-start: rgba(red($color), green($color), blue($color), $start-opacity);
	$rgba-end: rgba(red($color), green($color), blue($color), 0);

	background: linear-gradient(to right,  $rgba-start 0%,$rgba-end 100%);


}
@mixin border-top-radius($radius)
{
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin transition($transition: all linear .2s)
{
	transition: $transition;
}
@mixin blur($radius)
{
	filter: blur($radius);
}
@mixin rotate($deg)
{
    transform: rotate($deg);
}
@mixin arrow-top($color: #fff, $size: 5px, $left: 5px)
{
	&:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: $color;
		border-width: $size;
		left: $left;
	}
}
@mixin arrow-bottom($color: #fff, $size: 5px, $left: 5px)
{
	&:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-top-color: $color;
		border-width: $size;
		left: $left;
	}
}
@mixin arrow-left($color: #fff, $size: 5px, $top: 5px)
{
	&:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-right-color: $color;
		border-width: $size;
		top: $top;
	}
}
@mixin arrow-right($color: #fff, $size: 5px, $top: 5px)
{
	&:after {
		left: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-left-color: $color;
		border-width: $size;
		top: $top;
	}
}
@mixin close($r: 0, $g: 0, $b: 0)
{
	padding: 4px 6px;
	line-height: 1;
	font-size: 20px;
	cursor: pointer;
	color: rgba($r, $g, $b, 1);
	text-decoration: none;
	opacity: 0.5;
	border: none;
	&:before {
		content: '\00D7';
	}
	&:hover {
		opacity: 1;
	}
}
@mixin striped($color: rgba(255, 255, 255, .2))
{
#	background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
@mixin animation($animation)
{
	animation: $animation;
}
 /*Grid*/
@mixin row()
{
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 100%;

	@media (max-width: $breakpoint-small) {
		flex-direction: column;

	}
}
@mixin offset($num)
{
	margin-left: calc((100%/$grid-columns*$num) + (($grid-gutter/10)+0em)/2);
}
@mixin col($num)
{
	width: (100%/$grid-columns*$num) * 1%;
}
@mixin col-fixed($width)
{
	flex: 0 0 $width;
	@media (max-width: $breakpoint-small) {
		flex: 0;
		width: 100%;
	}
}
@mixin media-grid($num)
{
	column-count: $num;
	column-gap: $grid-gutter;

	& > div {
		display: inline-block;
		width: 100%;
	}

	@media (max-width: $breakpoint-small) {
		column-count: 1;
	}
}

/* Label*/
@mixin make-label($back, $text)
{
	background: $back;
	color: $text;
	&[outline] {
		background: none;
		color: $back;
		border-color: $back;
	}
	& a {
		color: $text;
		text-decoration: none;
		&:hover {
			@include transition();
			color: rgba(red($text), green($text), blue($text), .6);
		}
	}
}

 /*Btn*/
@mixin make-btn($main-color, $hover-light: 5)
{

	color: rgba(255, 255, 255, .9);
	background: $main-color;

	&:hover {
		color: rgba(255, 255, 255, .7);
		@include background-color-light($main-color, $hover-light);
	}
	&[disabled] {

		&:hover {
			color: rgba(255, 255, 255, .9);
			background: $main-color;
		}
	}
	&[outline] {
		background: none;
		color: $main-color;
		border-color: $main-color;

		&:hover {
			background: $main-color;
			border-color: $main-color;
			color: rgba(255, 255, 255, .9);
		}
		&[disabled] {

			&:hover {
				background: none;
				border-color: $main-color;
				color: $main-color;
			}
		}
	}

}
